.sidebar_container {
  display: inline-block;
  min-width: 80px;
  width: 80px;
  font-family: var(--font-mono);
  border-right: 1px solid rgb(var(--border-rgb));
  padding: 0 calc(10px + 1vw);
  position: relative;
  min-height: calc(100vh - 60px);
  overflow: hidden;
  transition: all 0.2s ease-in;
  transition-delay: 0.4s;
}

.sidebar_item:hover {
  background-color: rgba(var(--accent-rgba));
  
  border-radius: var( --border-radius-s);
}


.sidebar_container:hover {
  min-width: 250px;
  width: 250px;
  transition: all 0.2s ease-in;
  transition-delay: 0.4s;
}

.sidebar_container:hover .sidebar_title {
  opacity: 1;
  transition: all 0.2s ease-in;
  transition-delay: 0.4s;
}

.item_title {
  opacity: 0;
  transition: all 0.2s ease-in;
  transition-delay: 0.4s;
  pointer-events: none;
}

.sidebar_container:hover .item_title {
  opacity: 1;
  transition: all 0.2s ease-in;
  transition-delay: 0.4s;
}


.sidebar_block {
  margin-top: 2px;
}

.special_sidebar_block {
  position: absolute;
  bottom: 0;
}

.sidebar_item {
  padding: 3px;
  margin-bottom: 12px;
}

.sidebar_item > * {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sidebar_title {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
  transition-delay: 0.4s;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 1.15rem;
}

