.form_container {
  min-width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form_container form>div {
  margin-top: 2rem;
  width: 100%;
}










.file_input_container {
  width: 574px;
  height: 128px;
  border: 2px dashed rgba(var(--callout-border-rgba));
  display: flex;
  justify-content: center;
  align-items: center;
}

.file_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file_input + label {
  flex-direction: column;
  display: flex;
  cursor: pointer;
}

.stud_logo_container {
  margin-top: 13px;
}