.head {
  display: flex;
  justify-content: space-between;
}

.additional {
  margin-left: 2vw;
  padding: 8px;
  font-family: var(--font-mono);
  min-width: max-content;
  border: 1px solid rgba(var(--callout-border-rgba));
  background-color: rgb(var(--callout-rgba));
  border-radius: var(--border-radius);
  height: min-content;
}

.additional > p {
  font-size: var(--font-size-secondary);
  margin-bottom: 4px;
}

.additional > p:last-child {
  margin-bottom: 0;
}

.additional > p > span {
  margin-left: min(90px, calc(14px + 4vw));
  float: right;
  font-weight: bold;
}

.title {
  text-align: center;
  align-self: center;
  flex: 1;
  font-size: 2.5rem;
}

.description {
  font-size: 1.5rem;
  margin-top: 26px;
  font-weight: 300;
  text-align: justify;
  padding: 0 2%;
}

/*  actions  */
.actions {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 35px;
}

.answer_button {
  width: 182px;
  height: 72px;
  font-family: var(--font-mono);
  font-size: 30px;
  color: rgb(var(--danger-rgb));
  border: 3px solid rgb(var(--danger-rgb));
  background-color: rgba(var(--callout-rgba));
  border-radius: var(--border-radius);
}

.solution {
  transition: all 0.5s ease;
  margin-top: 40px;
  padding: 12px;
  background-color: rgba(var(--callout-rgba));
  border: 1px solid rgba(var(--callout-border-rgba));
  border-radius: var(--border-radius-s);
  min-width: 60%;
  max-width: 100%;
}
