.users_users_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 5px;
}

.users_users_column {
  width: 33.33%;
  grid-gap: 5px;
  display: flex;
  flex-direction: column;
}
.user_info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  margin-top: 20px;
  display: flex;
  grid-gap: 7px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search_container {
  display: flex;
  align-items: center;
  background-color: rgba(var(--callout-rgba));
  border: 1px solid rgba(var(--callout-border-rgba));
  border-radius: var(--border-radus-l);
  padding: 5px 2px;
}

.search_input {
  background-color: initial;
  margin-left: 10px;
  
}

  .search_input input{
    outline: none;
    border: 0;
    background-color: initial;
    min-width: 200px;
    margin-right: 10px;
    font-size: 17px;
  }

.search_button {
  border: 0px;
  background-color: initial;
}

.search_button img {
  margin-right: 10px;
  margin-top: 3px;
  
}

.placeholder {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  gap: 15px;
}

/* Mobile */
@media (max-width: 700px) {
  .placeholder {
    grid-template-columns: minmax(0, 1fr);
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1430px) {
  .placeholder {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* 
.placeholder [class~=card]:nth-child(2) {
    transform: translateX(40px);
} 
*/
