.users_users_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 5px;
}

.users_users_column {
  width: 33.33%;
  grid-gap: 5px;
  display: flex;
  flex-direction: column;
}
.user_info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search {
  display: flex;
  align-items: baseline;
}

.header input {
  padding: 10px 15px;
  min-width: 200px;
  width: 40vw;
  max-width: 600px;
  background-color: rgba(var(--callout-border-rgba));
  border-radius: 31px 0 0 31px;
  outline: none;
  border: 0;
  color: rgba(var(--foreground-rgb));
  font-size: var(--font-size-content);
}

.img_search {
  padding-left: 10px;
}


.placeholder {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  gap: 15px;
}

/* Mobile */
@media (max-width: 700px) {
  .placeholder {
    grid-template-columns: minmax(0, 1fr);
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1430px) {
  .placeholder {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* 
.placeholder [class~=card]:nth-child(2) {
    transform: translateX(40px);
} 
*/
