.container {
  margin-top: 12px;
  width: 100%;
  margin-bottom: 12px;
}

.categories {
  background-color: rgb(var(--callout-rgba));
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(var(--callout-border-rgba));
  border-radius: var(--border-radius);
  justify-content: space-between;
  flex-wrap: wrap;
}

.category {
  padding: 0 15px;
  font-family: var(--font-mono);
  color: rgba(var(--foreground-rgba));
  transition: all 0.4s ease;
}

.category:hover {
  color: rgb(var(--accent-rgb));
  transition: all 0.2s ease;
}