.form_container {
  background-color: rgba(var(--callout-rgba));
  padding: 20px;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--callout-border-rgba));
  margin-top: 12px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input[type='text'],
.form input[type='number'],
.form textarea,
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(var(--callout-border-rgba));
  border-radius: var(--border-radius-s);
  background-color: rgba(var(--background-start-rgb), 0.3);
}

.form button {
  color: rgb(var(--background-start-rgb));
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(var(--foreground-rgb));
}

