input.error {
  border: 1px solid rgb(var(--danger-rgb))
}

.reject_container {
  color: rgba(var(--foreground-rgb));
}

.reject_container h2 {
  margin-bottom: 5px;
}

.reject_container p {
  display: inline-block;
  margin-bottom: 5px;
}

.reject_container input{
  margin-left: 10px;
  font-size: var(--font-size-secondary);
  background-color: rgba(var(--callout-rgb));
  padding: 5px;
  border-radius: var(--border-radius-s);
  border: 2px solid rgba(var(--callout-border-rgba));
  outline: none;
  margin-bottom: 5px;
}

.reject_container button {
  margin-top: 10px;
  padding: 10px;
  font-size: var(--font-size-content);
  border-radius: var(--border-radius-s);
  border: 2px solid rgba(var(--callout-border-rgba));
  background-color: rgba(var(--callout-rgb));
  transition: all 0.4s linear;
}
.reject_container button:hover {
  border: 2px solid rgba(var(--danger-rgb));
}
.reject_container button:focus {
  
  border: 2px solid rgba(var(--danger-rgb));
}