.userScores {
  padding: 16px;
  border: 1px solid rgba(var(--callout-border-rgba));
  border-radius: var(--border-radius);
  margin-top: 10px;
  background-color: rgba(var(--accent-rgb), 0.15);
}

.userScores h1 {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}
.userScores h1::before {
  content: '✨';
  position: absolute;
  left: 0;
}
.userScores h1::after {
  content: '✨';
  position: absolute;
  right: 0;
}

.points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.pointCard {
  border: 1px solid rgba(var(--callout-border-rgba));
  padding: 10px;
}

.cards {
  margin-top: 26px;
}

.cards > h2 {
  text-align: center;
  color: rgba(var(--foreground-rgba));
}

.cards > h2 .category {
  font-family: var(--font-mono);
  color: rgba(var(--accent-rgba));
}
