.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.stud_container {
  border-radius: var(--border-radius-s);
  overflow: hidden;
  min-width: 400px;
  width: 30vw;
  max-width: 800px;
  max-height: 100%;
}

.stud_container img {
  pointer-events: all;
  width: 100%;
  max-height: 100%;
}

.user_data {
  font-size: var(--font-size-content);
  font-family: var(--font-mono);
  flex: 1;
  padding-left: 12px;
}

.name {
  color: rgb(var(--foreground-rgb));
}

.email {
  color: rgba(var(--foreground-rgba));
  font-size: 0.9em;
}

.buttons {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons  div {
  border-radius: var(--border-radius-s);
  padding: 4px 0;
  background-color: inherit;
}

.buttons a {
  display: block;
  height: 100%;
  background-color: inherit;
}

.accept_btn:hover {
  background-color: rgba(var(--access-rgba));
}

.reject_btn:hover {
  background-color: rgba(var(--danger-rgba));
}


