.user {
  display: flex;
  font-size: var(--font-size-content);
  width: 100%;
  align-items: center;
}

.info {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.info p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

.buttons {
  display: flex;
  gap: 5px;
  margin-left: 24px;
}

.buttons button {
  border: none;
  background-color: inherit;
  display: block;
}

.buttons img {
  transition: all 5s;
}

.plus_button:hover > img {
  filter: invert(52%) sepia(26%) saturate(1164%) hue-rotate(72deg) brightness(86%) contrast(94%);
  transition: all 1s;
}

.minus_button:hover > img {
  filter: invert(25%) sepia(17%) saturate(4631%) hue-rotate(298deg) brightness(98%) contrast(90%);
  transition: all 1s;
}
