.user{
    display: flex;
    font-size: 20px;
    height: 73px;
    width: 415px;
}

.user_items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.category{
    font-weight: 700;
    font-family: var(--font-mono);
}


.request_button{
    display: flex;
}
.request_button button{
    border-radius: 50%;
}

.button_plus{
    margin-top: 5px;
    margin-right: 6px;
}

.plus_button > img {
    transition: all 0.5s;
}

.plus_button:hover > img {
    filter: invert(52%) sepia(26%) saturate(1164%) hue-rotate(72deg) brightness(86%) contrast(94%);
    transition: all 0.1s;
}


.minus_button > img {
    transition: all 0.5s;
}

.minus_button:hover > img {
    filter: invert(25%) sepia(17%) saturate(4631%) hue-rotate(298deg) brightness(98%) contrast(90%);
    transition: all 0.1s;
}

.button_plus button {
    border: 0;
    background-color: inherit;
}
.button_minus{
    margin-top: 5px;
    margin-bottom: 3px;
}

.button_minus button {
    border: 0;
    background-color: inherit;
}

.D_Plus{
    display: none;
}
.D_Minus{
    display: none;
}
.D_Trash{
    display: none;
}
