.users_users{
    margin-top: 30px;
    margin-left: 30px;
}

.user_name{
    margin-left: 22px;
    margin-top: 20px;
}

.user_delite{
    margin-right: 32px;
    margin-top: 10px;
}
.user_delite button{
    background: white;
}